body {
  font-family: 'Josefin Slab', cursive;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  list-style: none;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 22px;
  padding-left: 0px;
  margin-bottom: 60px;
  border-bottom: 1px solid lightgrey;
}


.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: grey;
  transition-timing-function: 0,5s;
}

li {
  margin-left: 70px;
  margin-right: 70px;
}


h1 {
  margin-top: 30px;
  font-family: 'Josefin Slab',serif;
  text-align: center;
  font-size: 50px;
}

.images {
  text-align: center;
}

.images img:hover {
  opacity: 0.4;
  transition-timing-function: 2s;
}

.images_text {
  display: inline-block;
  background-color: lightgrey;
  position: relative;
  width: 200px;
  top: -50px;
}

.profileimage {
  width: 530px;
  float: left;
}

.profiletext {
  width: 450px;
  float: right;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  text-align: left;
}

.clear {
  float: none;
}

.contacttext {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  color: black;
}

.mail {
  list-style: none;
  text-align: center;
}

.mail a {
  list-style:none;
  text-align: center;
  text-decoration: none;
  color: black;
}

.mail a:hover {
  color: pink;
  transition-timing-function: 0,5s;
}
