body {
  font-family: Georgia;
}


.wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 200px;
  float: right;
  }



h1 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  border-bottom: 1px solid black;
}

.row {
  display: inline-block;
}

.box {
  width: 600px
}

.right {
  float: left;
  width: 160px;
}

.left {
  float: right;
  width: 160px;
}

.left {
  float: right;
  width: 160px;
}
