body {
  font-family: Georgia;
}

.nav {
  list-style: none;
  text-align: center;
  font-size: 22px;
  padding-left: 0px;
}

.nav li {
  display: inline;
}

li {
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Poiret One', cursive;
}


h1 {
 font-family: 'Poiret One', sans-serif;
 text-align: center;
 font-size: 50px;
}
